/* OLED/Dark Mode for CasaOS, WIP */
/* Primary Color/BG/Elements*/
#app  .is-flex-grow-1.content, .is-flex-direction-column.is-flex.nav-bar, ._b-line.modal-card-head, ._stepStoreList.modal-card, .modal-card-head, .app-detial.modal-card, .narrow.modal-card, .terminal-content, .pri-height.pl-4.notification, .is-success.input, .is-unselectable.table-thead > .tr-wrapper,.is-focusable.taginput-container,.control > .select > select, .has-addons.field>.is-clearfix.is-expanded.control ,.has-addons.field> .is-clearfix.control> .input, .is-expanded.control > .is-fullwidth.select > select,.has-colon.control.autocomplete > .is-clearfix.control>.input,.is-expanded.field > .is-clearfix.is-expanded.has-icons-right.control>.input,.is-expanded.field > .is-clearfix.is-expanded.control > .input,.is-grouped.field > div.is-clearfix.is-expanded.control > .input,.is-focusable.taginput-container > .control.autocomplete > .is-clearfix.control > .input {
    color-scheme: dark;
    background: #000 !important; 
    color: #c8c8c8 !important; 
}

/* White Text */
.title,.label,
.dropdown-item, .button.is-text.is-fullwidth, .is-text.button {
    color: #b4b4b4 !important;
}
/* Grey Text */
 .desc {
    color: #4e4e4e !important;
}
/* Secondary Color/Elements */
.active.new-list-item.list-item.is-flex, .dropdown-item:hover, .modal-card, .is-flex-direction-column.is-flex.background-item.pb-3.mb-4, .is-one-quarter.app-item.column:hover,  .github-markdown-body, .flight-bg.mt-4.pb-2.pt-2.pl-2.fullScreen, .mb-6.card-shadow.card > .card-content, .content > div.field > .is-clearfix.control > .input, .rdata.tr-wrapper:hover > .is-unselectable.tr, .e-btn, .rdata.tr-wrapper > .active.is-unselectable.tr,.is-rounded.is-small.button{  
    color-scheme: dark;
    background: #242424 !important;
    color: #fff !important; 
}
/* Dark Dropdown Menu */
 .new-list-item.list-item.is-flex:hover, .is-unselectable.node-card:hover, .active.outer-wrapper, .active.outer-wrapper > .is-unselectable.node-card, .dropdown-content {  
     color-scheme: dark;
    background: #242424 !important; 
    color: #fff !important; 
}


/* Optional: Hide FlexBar links/resize logo *//*
.is-flex.contact-bar, .ml-4.intro-text
{
    visibility:hidden
}

.mb-3._is-136x26.image {
    width: 40%
}

*/
