/* OLED/Dark Mode for CasaOS, WIP */
/* Invert Colors */
@media (prefers-color-scheme: dark) {
  :root {
    filter: invert(1) hue-rotate(180deg);
  }
  
  /* Exclude elements */
._fixed-height.is-align-items-center.is-flex.top-bar.navbar,
.out-container, .preview-image,
.image.is-128x128.b-image-wrapper,
.modal-background,
.is-dark-bg.is-flex-direction-column.is-flex,
.main-content.is-three-quarters.column,
.contextmenu-canvas.side-bar,
.button.is-text.is-fullwidth, .is-text.button,
._has-text-white,
.header-icon, 
.ml-3.mb-3.mr-3.mt-3.is-flex > 
.header-icon > .image.is-64x64.b-image-wrapper,
.is-flex.has-text-centered > 
.is-justify-content-center.is-flex > 
.is-relative,.dropdown-menu > 
.dropdown-content > .dropdown-item,
.is-mobile-modal.is-active.navbar-item.dropdown-menu-animation.dropdown > .dropdown-menu,
.is-flex.operation-toolbar,
    .is-active.is-bottom-left.netowrk-dropdown.dropdown-menu-animation.dropdown,
#logs-content,.art-bottom,
#terminal-content > .fdark-bg.mt-4.pb-2.pt-2.pl-2.fullScreen,
  img:not(.stop.image img),
  video,
  [class*="no-invert"] {
    filter: invert(1) hue-rotate(180deg) !important;
  }
}

/* Change Background/Elements Color */
.is-flex.top-bar.navbar,.is-mobile-modal.is-active.navbar-item.dropdown-menu-animation.dropdown > .dropdown-menu > .dropdown-content,.dropdown-content,.dropdown-item.has-text-left.has-text-white,.is-active.is-bottom-left.netowrk-dropdown.dropdown-menu-animation.dropdown > .dropdown-menu > .dropdown-content
{
    color-scheme: dark;
    background: #000 !important; 
    color: #fff !important; 
    filter: invert(1) hue-rotate(180deg) !important;
}
.is-shadow.step4.login-panel {
    background: black !important
}

/* Secondary Elements */
 .is-rounded.is-primary.is-small.mr-2.button,.dropdown-menu-animation.dropdown.app-card-drop.is-active > .dropdown-menu > .dropdown-content > .dropdown-item>.button.is-fullwidth.is-text.button:hover {
    background: #242424 !important; 
    color: #b7b7b7 !important;
    filter: invert(1) hue-rotate(180deg) !important;
}
 
/* Fix Text */
 .is-text.button,.is-active.is-bottom-left.netowrk-dropdown.dropdown-menu-animation.dropdown > .dropdown-menu > .dropdown-content > a.dropdown-item {
    color: #a8a8a8 !important;
    filter: invert(1) hue-rotate(180deg) !important;
}


/* Optional: Hide Logo/FlexBar links *//*
.is-flex.contact-bar, .ml-4.intro-text, .mb-3._is-136x26.image 
{
    visibility:hidden
}
*/
